header {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 75px;
    max-width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    max-height: 50px;
    margin: auto;
}

.container-fluid {
    background-color: #fff;
    width: 960px;
    margin: 0 auto;
    height: 73px;
    box-sizing: border-box;
}

li {
    padding: 10px;
}

.navbar-text {
    background-color:#4aaaa5;
    box-sizing: border-box;
    color: white;
    height: 74px;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 25px;
}

a {
    font-size: 18px;
    color: #777;
}

a:hover {
    color: purple;
    font-weight: bold;
    text-decoration: none;
}

